html{
 font-family: 'Courier New', Courier, monospace;
}


canvas {
  position: fixed;
  top: 0;
  left: 0;
  background: rgb(108,4,105);
  background: linear-gradient(180deg, rgba(108,4,105,1) 0%, rgba(153,114,0,1) 49%, rgba(255,213,0,1) 100%); 
  
}

body{
  position: absolute;
  width: 100vw;
  z-index: 99;
  margin: 0px auto;

  display: grid;
  grid-template-columns: repeat(12, 1fr);
  

}

main{
  position: absolute;
 
}

section{ 
  /* testing */

  /* start at 2 and end at 8 */
  grid-column: 2 / 8; 
  width: 25vw;
  font-size: xx-large;
  margin: 25vh;
}

footer{
   grid-column: 4 / 6;
}